<div class="contenedor" [ngStyle]="{
    backgroundImage: 'url(/assets/images/m-diario-bg.svg)',
    backgroundRepeat: 'no-repeat',
    backgroundSize: '50%',
    backgroundPosition: 'right',
    backgroundPositionY: 'bottom'
  }">
    <h2>Menú Diario</h2>

    <div class="menu">
        <div class="plato" *ngIf="primero">
            <div class="icono">
                <img src="../../../assets/images/icon-m-diario-1.svg" alt="SchoolMenu-logo" />
            </div>
            <div class="texto">
                <h4>Primer plato</h4>
                <p>{{menu.primer_plato.toUpperCase()}}</p>
            </div>
            <div class="info">
                <select>
                    <option selected>Ingredientes:</option>
                    <option disabled *ngFor="let ingrediente of primero.ingredientes">{{ingrediente.nombre}}</option>
                </select>
                <select>
                    <option selected>Alérgenos:</option>
                    <option disabled *ngFor="let alergeno of primero.alergenos">{{alergeno.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="plato" *ngIf="segundo">
            <div class="icono">
                <img src="../../../assets/images/icon-m-diario-2.svg" alt="SchoolMenu-logo" />
            </div>
            <div class="texto">
                <h4>Segundo plato</h4>
                <p>{{menu.segundo_plato.toUpperCase()}}</p>
            </div>
            <div class="info">
                <select>
                    <option selected>Ingredientes:</option>
                    <option disabled *ngFor="let ingrediente of segundo.ingredientes">{{ingrediente.nombre}}</option>
                </select>
                <select>
                    <option selected>Alérgenos:</option>
                    <option disabled *ngFor="let alergeno of segundo.alergenos">{{alergeno.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="plato" *ngIf="postre">
            <div class="icono">
                <img src="../../../assets/images/icon-m-diario-3.svg" alt="SchoolMenu-logo" />
            </div>
            <div class="texto">
                <h4>Postre</h4>
                <p>{{menu.nombre_postre.toUpperCase()}}</p>
            </div>
            <div class="info">
                <select>
                    <option selected>Ingredientes:</option>
                    <option disabled *ngFor="let ingrediente of postre.ingredientes">{{ingrediente.nombre}}</option>
                </select>
                <select>
                    <option selected>Alérgenos:</option>
                    <option disabled *ngFor="let alergeno of postre.alergenos">{{alergeno.nombre}}</option>
                </select>
            </div>
        </div>
        <button class="botonVolver" (click)="clickVolver()"><i class="bi bi-arrow-left"></i>Volver</button>
    </div>
    <div class="comentarios">
        <form [formGroup]="comentario" (ngSubmit)="onSubmit()">
            <h4>Si tienes algo importante que consultarnos deja tu comentario aquí:</h4>
            <textarea formControlName="mensaje" minlength="15" maxlength="255" class="textarea"></textarea>
            <input type="submit" value="Enviar" [disabled]="!comentario.valid" [ngClass]="{
                'disabled': !comentario.valid 
            }" class="botonEnviar">
        </form>
    </div>
</div>