@import "../../../styles.css";

.container {
    display: flex;
    background-color: gray;
    text-align: center;
}

form {
    border: 2px solid black;
    margin: 3em auto;
    background-color: var(--colorprincipal);
    padding: 2em;
}

form input {
    margin: 1em;
}

.tituloInput {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 10px;
}