<div class="contenedor">
    <h3 class="tituloPagina">MENU SEMANAL</h3>
    <form>
        <div class="selectCurso">
            <select>
                <option value="">PRIEMR CISLCSO dqbayui</option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
        <div class="inputSemana">
            <input type="week">
        </div>
    </form>

    <div class="platosSemana">
        <div class="menuDiario">
            <p>O</p>
            <h5>LUNES</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam minima enim velit esse dolor ipsa accusantium? Laudantium perspiciatis maxime placeat voluptatum officiis, saepe non aperiam modi ratione iusto expedita! Doloremque.</p>
        </div>
    </div>
</div>