<div class="contenedor">
    <h3 class="tituloPagina">MENU SEMANAL</h3>
    <form>
        <div class="selectCurso">
            <select>
                <option value="1">PRIEMR CISLCSO dqbayui</option>
                <option value="2"></option>
                <option value="3"></option>
            </select>
        </div>
        <div class="inputSemana">
            <input type="week" (change)="semanaSeleccionada($event)">
        </div>
    </form>

    <div class="platosSemana">
        <div class="menuDiario">
            <p>O</p>
            <h5>LUNES</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="menuDiario">
            <p>O</p>
            <h5>MARTES</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="menuDiario">
            <p>O</p>
            <h5>MIÉRCOLES</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="menuDiario">
            <p>O</p>
            <h5>JUEVES</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="menuDiario">
            <p>O</p>
            <h5>VIERNES</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>