<div class="contenedor" [ngStyle]="{
      backgroundImage: 'url(/assets/images/registro-bg.svg)',
      backgroundRepeat: 'no-repeat',
      backgroundSize: 'contain',
      backgroundPosition: 'right',
      backgroundPositionY: 'bottom'
    }">
  <div class="formulario col-8 col-md-3 col-sm-6">
    <h3>Bienvenido@ a SchoolMenu</h3>
    <h2>Registro</h2>
    <form class="formularioRegistro" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="inputsFormulario left-icon">
        <i class="bi bi-person"></i>
        <input type="text" formControlName="nombre" placeholder="Nombre" />
      </div>

      <div class="inputsFormulario left-icon">
        <i class="bi bi-envelope"></i>
        <input type="text" formControlName="email" placeholder="Email" />
      </div>

      <div class="inputsFormulario">
        <input type="checkbox" (change)="cicloSeleccionado(1)">
        <input type="checkbox" (change)="cicloSeleccionado(2)">
        <input type="checkbox" (change)="cicloSeleccionado(3)">
      </div>

      <div class="inputsFormulario left-icon">
        <i class="bi bi-key"></i>
        <input type="password" formControlName="password" placeholder="Password" />
      </div>


      <div class="inputsFormulario left-icon">
        <i class="bi bi-key"></i>
        <input type="password" formControlName="repitePassword" placeholder="Repite Password" />
      </div>

      <input class="botonEnviar" type="submit" value="Crear Cuenta" [disabled]="!formulario.valid && ciclosSeleccionados.length === 0" [ngClass]="{
            'undisabled': formulario.valid && ciclosSeleccionados.length !== 0
          }" />
    </form>
    {{formulario.valid && ciclosSeleccionados.length !== 0}}
  </div>
</div>