.contenedor {

    width: 100%;
}


form.formMenu {
    display: flex;
    flex-direction: column;
    background-color: var(--amarillo);
    padding: 3em;
    width: 600px;
    margin: 2em auto;
    gap: 2em;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black
}

form label {
    font-weight: bold;
    text-decoration: underline;
}

form select {
    margin-left: 1em;
}

.inputFecha {
    margin-left: 1em;
}

.tarjetero {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.tarjetaMenu {
    border: 1px solid grey;
    background-color: var(--naranja);
    border-radius: 15px;
    padding: 1em;
    text-align: center;
}

.asignacion {
    font-weight: bold;
}

.formCurso {
    text-align: center;
}

.botonBorrar {
    height: 2em;
    width: 80px;
    margin-left: 1em;
    border-radius: 15px;
}

.botones {
    margin: 1em;
}