<div class="contenedor">
    <h2>Usuarios</h2>
    <table class="tablaUsuarios">
        <thead>
            <tr>
                <th colspan="2" class="filtros">
                    <form [formGroup]="filtro">
                        <input type="text" (input)="filtrarPorNombre()" id="search-text" formControlName="input" placeholder="Introduce nombre o email">
                    </form>
                </th>
                <th colspan=" 2" class="filtros">
                    <select (change)="filtrarRol($event)">
                        <option hidden>Filtar por rol</option>
                        <option value="admin">Admin</option>
                        <option value="tutor">Tutor</option>
                        <option value="todos">Todos</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="usuario" *ngFor="let usuario of Usuarios">
                <td class="celda1">{{usuario.nombre}}</td>
                <td class="celda">{{usuario.email}}</td>
                <td class="celda">
                    <select #selectRole>
                        <option [value]="usuario.role" selected>{{usuario.role.toUpperCase()}}</option>
                        <option value="admin" *ngIf="usuario.role === 'tutor'">ADMIN</option>
                        <option value="tutor" *ngIf="usuario.role === 'admin'">TUTOR</option>
                    </select>
                    <button (click)="onClick(usuario.id, selectRole)"><i class="fas fa-edit"></i></button>
                </td>
                <td class="celda2"><button (click)="deleteUsuario(usuario.id)"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>