header {
    display: flex;
    justify-content: space-around;
    height: 3em;
    padding-top: 0.7em;
    margin-top: 1em;
}

.icono {
    cursor: pointer;
}

header nav ul {
    display: flex;
    list-style: none;
    color: var(--green-medium);
    font-weight: bold;
    gap: 6em;
}

header nav ul li {
    cursor: pointer;
}

header nav ul li.componente {
    height: 3em;
    padding: 0.7em;
    border-radius: 20px;
    transition: 0.5s;
}

header nav ul li.componente:hover {
    background-color: var(--green-light);
}


.activo {
    border-bottom: 4px solid var(--green-medium);
    margin-bottom: 1em;
}

.logOut {
    border: 2px solid tomato;
    color: tomato;
    background-color: var(--background);
    padding: 0.5em;
    border-radius: 20px;
    transition: 0.5s;
}

.logOut:hover {
    background-color: tomato;
    color: var(--background);
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {

    header nav {
        width: 100%;
    }

    header nav ul {
        gap: 0em;
    }

    img {
        width: 100px;
        margin-left: 1em;
    }

}