<header>
    <div class="icono" [routerLink]="['/home']">
        <img src="../../../assets/images/logo.svg" alt="SchoolMenu-logo" />
    </div>
    <nav>
        <ul>
            <li [routerLink]="['/home']" [routerLinkActive]="['activo']" *ngIf="registroService.isLogged()">Inicio</li>
            <li [routerLink]="['/plato/new']" [routerLinkActive]="['activo']" *ngIf="registroService.isLogged() && registroService.isAdmin()" [routerLinkActiveOptions]="{exact: true}">Nuevo Plato</li>
            <li [routerLink]="['/menu/new']" [routerLinkActive]="['activo']" *ngIf="registroService.isLogged() && registroService.isAdmin()" [routerLinkActiveOptions]="{exact: true}">Nuevo Menú</li>
            <li [routerLink]="['/buzon']" [routerLinkActive]="['activo']" *ngIf="registroService.isLogged() && registroService.isAdmin()" [routerLinkActiveOptions]="{exact: true}">Buzón</li>
            <li [routerLink]="['/usuarios']" [routerLinkActive]="['activo']" *ngIf="registroService.isLogged() && registroService.isAdmin()" [routerLinkActiveOptions]="{exact: true}">Usuarios</li>
            <li [routerLink]="['/login']" [routerLinkActive]="['activo']" [routerLinkActiveOptions]="{exact: true}">Login</li>
            <li [routerLink]="['/registro']" [routerLinkActive]="['activo']" [routerLinkActiveOptions]="{exact: true}">Registro</li>
            <li *ngIf="registroService.isLogged()"><input type="submit" value="Log Out" (click)="onLogOut()" class="logOut"></li>

        </ul>
    </nav>
</header>


<router-outlet></router-outlet>