@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.contenedor {
    background-color: var(--background);
    text-align: center;
    width: 100%;
    margin: 6em auto;
    padding: 2em;
    color: var(--green-medium);
    font-family: Poppins;
    height: calc(100vh - 8em);
}

.icono {
    text-align: center;
    margin-bottom: 1em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

.formulario {
    text-align: left;
    background-color: var(--background);
    padding: 2em;
    border: 1px solid var(--green-medium);
    border-radius: 20px;
}

.formularioRegistro {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inputsFormulario {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -10px;
}

.formulario label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}

.inputsFormulario input {
    background-color: var(--background);
    border-radius: 20px;
    color: var(--green-medium);
    font-family: Manrope;
    border: 2px solid var(--green-medium);
    padding: 0.5em;
}

.botonenviar {
    width: 8em;
    height: 46px;
    border-radius: 23px;
    background-color: var(--green-light);
    border: none;
    font-weight: bold;
    color: var(--background);

    margin-left: 9em;
    transition: .5s;
}

.undisabled {
    cursor: pointer;
    background-color: var(--green-medium);
}

.botonenviar.undisabled:hover {
    background-color: var(--green-medium);
    width: 10em;
}

p {
    margin-left: 4em;
}

.pregunta:hover {
    text-decoration: underline;
    cursor: pointer;
}

span {
    font-weight: bold;
    cursor: pointer;
}

span:hover {
    text-decoration: underline;
}

.imagen-login {
    width: 100vh;
}

i {
    margin-left: 12em;
}