<div class="contenedor" [ngStyle]="{backgroundImage:'url(/assets/images/login-bg.svg)', backgroundRepeat: 'no-repeat', backgroundSize: 'contain', backgroundPosition: 'right' }">
    <div class="formulario col-4">
        <div class="icono">
            <img src="../../../assets/images/simbolo.svg" alt="SchoolMenu-logo" />
        </div>
        <h3>Bienvenid@ a schoolMenu</h3>
        <h2>Log In</h2>
        <form class="formularioRegistro" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="inputsFormulario">
                <label>Email</label>
                <input type="text" formControlName="email" placeholder="Introduce tu email">
            </div>
            <div class="inputsFormulario">
                <div class="titulo">
                    <label>Password</label>
                    <p class="pregunta">¿Olvidaste la contraseña?</p>
                </div>
                <input type="password" formControlName="password" placeholder="Introduce tu contraseña">
            </div>
            <input type="submit" value="Log In   →" class="botonenviar" [disabled]="!formulario.valid" [ngClass]="{
            'disabled': !formulario.valid 
        }">

            <p>No tienes cuenta? <span (click)="navigateRegistro()">Registrate aquí</span></p>

        </form>

    </div>

</div>