<div class="contenedor">
    <table class="tablamensajes">
        <thead>
            <tr>
                <th colspan="2" class="filtros">
                    <label>Buscar:</label>
                    <form [formGroup]="filtro">
                        <input type="text" (input)="filtrarPorNombre()" id="search-text" formControlName="inputNombre" placeholder="Introduce un nombre para filtrar">
                    </form>
                </th>
                <th colspan=" 2" class="filtros">
                    <select (change)="filtrarPorMenu($event)">
                        <option hidden>Filtar por menu</option>
                        <option [value]="menu.id" *ngFor="let menu of allMenus">{{menu.primer_plato}} - {{menu.segundo_plato}} - {{menu.nombre_postre}}</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <th>Nombre</th>
            <th>Menu</th>
            <th>Mensaje</th>
            <th>Fecha</th>
            <tr class="mensaje" *ngFor="let comentario of comentarios">
                <td class="celda">{{comentario.nombre}}</td>
                <td class="celda">{{comentario.menu_id}}</td>
                <td class="celda">{{comentario.mensaje}}</td>
                <td class="celda">{{comentario.fecha | date: 'dd-MM-YYYY'}}</td>

                <td class="celda">
                </td>
                <td><button (click)="deleteComentario($event)" [value]="comentario.id">Eliminar comentario</button></td>
            </tr>
        </tbody>
    </table>
</div>