<div class="contenedor">
    <h2>Buzón de comentarios</h2>
    <table class="tablamensajes">
        <thead>
            <tr>
                <th colspan="2" class="filtros">
                    <label>Buscar:</label>
                    <form [formGroup]="filtro">
                        <input type="text" (input)="filtrarPorNombre()" id="search-text" formControlName="inputNombre" placeholder="Introduce un nombre para filtrar">
                    </form>
                </th>
                <th colspan="4" class="filtros">
                    <select (change)="filtrarPorMenu($event)">
                        <option hidden>Filtrar por menú</option>
                        <option [value]="menu.id" *ngFor="let menu of allMenus">{{menu.primer_plato}} - {{menu.segundo_plato}} - {{menu.nombre_postre}}</option>
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
            <th>Nombre</th>
            <th>Menú</th>
            <th>Mensaje</th>
            <th>Fecha</th>
            <tr class="mensaje" *ngFor="let comentario of comentarios">
                <td class="celda">{{comentario.nombre}}</td>
                <td class="celda">{{comentario.menu_id}}</td>
                <td class="celda">{{comentario.mensaje}}</td>
                <td class="celda">{{comentario.fecha | date: 'dd-MM-YYYY'}}</td>
                <td class="celda2"><button (click)="deleteComentario(comentario.id)"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>